h1{
     background-color: rgb(149, 224, 149) ;
}
body{
    background-color: rgb(239, 239, 139);
}
.red {
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
img{
    height: 200px;
}  
