p{
    color: rgb(59, 212, 4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    
}
h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
img {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
}

li{
    margin-bottom: 7px;
}