div{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
#caja_1{
    background-color: rgb(222, 111, 111);
}
#caja_2{
    background-color: rgb(58, 123, 172);
}
#caja_3{
    background-color: rgb(121, 216, 121);
}
h1{
    text-align: center;
    background-color: orange;
}
img{
    width: 10%;
}
p{
    width: 90%;
    font-size: 1.5vw;
    text-align: justify;
}
body{
    background-color: rgb(216, 216, 102);
    margin: 0;
    
}